@import 'normalize.css'
@import 'H5BP-Pre.css'
@import 'code.css'
// @import 'nib'
@import 'grid'


/*

  Base Grid

*/

columns = 12
column-width = 65
gutter-width = 12


/*
 
  Size, Proportion & Positioning

*/


// Tight Scale <480px wide
// Pretty much just a single column
// 16 => 95, 76, 61, 49, 39, 32, 25, 20, 13, 10, 8

div.center
  width 95%
  margin 0 auto


h1
  font-size 32px
  line-height 1.25em

article.post h1
  margin-bottom 0

h2
  font-size 25px
  line-height 2em
  margin 0.5em 0 0

p
  font-size 16px
  line-height 1.5em
  margin 0 

p + p
  text-indent 1.4em

time.publishDate
  display block
  font-size 13px
  margin-bottom 1em


// Medium Scale 481-800px wide
// Room enough for variety, but not full grid
// Also adjusts baseline for Roomy
// 18 => 800, 640, 512, 410, 320, 262, 210, 168, 134, 107, 86, 70, 55, 44, 35, 28, 22, 14, 12
MediumColumns = 6

@media screen and (min-width: 481px)
  header, #content, footer
    column (MediumColumns)

  div.center
    width MediumColumns*(column-width+gutter-width) px

  h1
    font-size 35px

  h2
    font-size 22px

  p
    font-size 18px

  time.publishDate
    font-size 14px


// Roomy Scale (also 18)
RoomyColumns = 10

@media screen and (min-width: 800px)

  div.center
    width RoomyColumns*(column-width+gutter-width) px

  header, #content, footer
    column (RoomyColumns)


/*
 
  Styles

*/

h1, h2
  font-style italic
  font-weight 300
  font-family "skolar", serif
  letter-spacing 0
  color rgba(90, 90, 90, 1.00)
  -moz-font-feature-settings 'liga=1'
  -ms-font-feature-settings 'liga' 1
  -webkit-font-feature-settings 'liga' 1
  -o-font-feature-settings 'liga' 1
  font-feature-settings 'liga' 1
  text-rendering optimizeLegibility

p, time, li, div
  font-family "prenton", sans-serif
  font-style normal
  font-weight 300
  color rgba(70, 70, 70, 1.00)
  -moz-font-feature-settings 'liga=1'
  -ms-font-feature-settings 'liga' 1
  -webkit-font-feature-settings 'liga' 1
  -o-font-feature-settings 'liga' 1
  font-feature-settings 'liga' 1

#author, time.publishDate
  font-style italic

blockquote
  font-family georgia, serif
  font-style italic

blockquote:before
  content "\201C"
  font-size 40px
  margin-left -10px
  font-family georgia, serif
  color #eee


@import 'H5BP-Post.css'