@import 'normalize.css'
@import 'H5BP.css'
@import 'code.css'
@import 'grid'


/*

  Base Grid

*/

columns = 12
column-width = 65
gutter-width = 12


/*

  Web Fonts

*/
.wf-loading
  p, time, li, div, li span
    visibility: hidden

.wf-active
  p, time, li, div, li span
    font-family "prenton"

.wf-inactive
  p, time, li, div, li span
    font-family sans-serif
    font-size 15px
    line-height 1.6em


/*
 
  Size, Proportion & Positioning

*/


// Tight Scale <480px wide
// Pretty much just a single column
// 16 => 95, 76, 61, 49, 39, 32, 25, 20, 13, 10, 8

.center
  width 95%
  margin 0 auto


h1
  font-size 32px
  line-height 1.25em

header.home
  h1
    margin 1.25em 0 0

  h2
    margin 0


article.post h1
  margin-bottom 0

#profile
  float:right;

#metadata, header.home h2
  display block
  font-size 13px
  margin-bottom 3em

h2, #writing h1, #work h1
  font-size 25px
  line-height 2em
  margin 0.75em 0 0

#writing article.summary
  padding 0 1.4em
  margin-bottom 1em

  h1
    font-size 20px

p, body > header h1
  font-size 16px
  line-height 1.5em
  margin 0 

p + p
  text-indent 1.4em

dl, menu, ol, ul
  padding-left 1.4em

.center > footer
  border-top thin solid rgb(225, 225, 225)
  margin-top 2em
  padding 3em 0 5em
  text-align center

// Medium Scale 616-800px wide
// Room enough for variety, but not full grid
// Also adjusts baseline for Roomy
// 18 => 800, 640, 512, 410, 320, 262, 210, 168, 134, 107, 86, 70, 55, 44, 35, 28, 22, 14, 12
MediumColumns = 8

@media screen and (min-width: 620px)
  .center
    width MediumColumns*(column-width + gutter-width) px

  h1.center a, #content, footer
    column (MediumColumns)

  h1
    font-size 55px
    word-spacing -3px

  #writing h1, #work h1
    font-size 30px
    word-spacing -2px

  #writing article.summary h1
    font-size 22px

  #metadata
    font-size 14px

  body, p, body > header h1, header.home h2
    font-size 18px

  time.publishDate
    font-size 14px



// Roomy Scale (also 18)
RoomyColumns = 10

@media screen and (min-width: 800px)
  .center
    width RoomyColumns*(column-width + gutter-width) px

  h1.center a, #content, footer
    column (8)
    push (1)

  .wf-inactive
    p, time, li, div, li span
      font-size 17px



// Expansive Scale
// ExpansiveColumns = 12

// @media screen and (min-width: 1100px)
//   .csscolumns 
//     .center
//       width ExpansiveColumns*(column-width + gutter-width) px

//     h1.center a, #content, footer
//       column (12)

//     .content
//       -webkit-column-count 2
//       -webkit-column-gap gutter-width
//       -moz-column-count 2
//       -moz-column-gap gutter-width
//       column-count 2
//       column-gap gutter-width

// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//        only screen and (min-resolution: 144dpi) {
//     /* Style adjustments for high resolution devices */
// }



/*
 
  Styles

*/

h1, h2, .article a
  font-style italic
  font-weight 300
  font-family Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif
  letter-spacing 0
  color rgb(90, 90, 90)
  -moz-font-feature-settings 'liga=1'
  -ms-font-feature-settings 'liga' 1
  -webkit-font-feature-settings 'liga' 1
  -o-font-feature-settings 'liga' 1
  font-feature-settings 'liga' 1
  text-rendering optimizeLegibility

  a, a:link, a:hover, a:active
    text-rendering auto


p, time, li, div, li span
  font-style normal
  font-weight 300
  color rgb(70, 70, 70)
  -moz-font-feature-settings 'liga=1'
  -ms-font-feature-settings 'liga' 1
  -webkit-font-feature-settings 'liga' 1
  -o-font-feature-settings 'liga' 1
  font-feature-settings 'liga' 1

#author, time.publishDate
  font-style italic

a, a:link, a:visited
  color rgb(30, 30, 225)
  -webkit-transition color 0.25s ease-in-out
  transition color 0.25s ease-in-out

a:hover
  color rgb(200, 30, 30)

a:active
  color rgb(200, 100, 100)

ol, ul
  list-style-position outside

li
  color rgb(120, 120, 120)

abbr[title]
  border none
  text-decoration underline
  font-family "ff-basic-gothic-sc-web-pro",sans-serif
  font-style normal
  font-weight 200
  text-transform lowercase

section.archive
  margin-top 1em
  ol
    list-style none
    padding 0
    row(8)

    .year
      column(1, 8)

    ol.articles
      push(1)
      column(7)

    time.publishDate
      column(2)
      font-size 1em

    a
      display block

body > header
  background-color rgb(235, 235, 235)

.center footer
  // background-color rgb(200, 200, 200)

blockquote, blockquote:before
  font-weight 300
  font-family Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif
  font-style italic

blockquote:before
  content "\201C"
  font-size 3em
  margin-left -1em