@import 'normalize.css'
@import 'H5BP.css'
@import 'grid'


/*

  Base Grid

*/

columns = 12
column-width = 65
gutter-width = 12


/*

  Web Fonts

*/
.wf-loading
  h1, h2, h3, .article a, p, time, li, li span, footer, abbr[title], .caphappy
    visibility: hidden

.wf-active
  h1, h2, h3
    font-family "prenton-display"
    font-weight 100

  .article a, p, time, li, li span, footer
    font-family "prenton"

  abbr[title], .caphappy
    font-family "ff-basic-gothic-sc-web-pro",sans-serif
    font-weight 200
    text-transform lowercase


.wf-inactive
  h1, h2, h3, .article a, p, time, li, li span, footer, abbr[title], .caphappy
    font-family sans-serif
  
  h1, h2, h3, .article a
    font-weight 100

  p, time, li, li span, footer, abbr[title], .caphappy
    font-size 15px
    line-height 1.6em


/*
 
  Size, Proportion & Positioning

  3 level structure
    window width, document width (centered), grid content

    body > header, body > header .center, body > header .grid
    etc.

*/


// Tight Scale <480px wide
// Pretty much just a single column
// 16 => 95, 76, 61, 49, 39, 32, 25, 20, 13, 10, 8

.center
  width 80%
  margin 0 auto

.center, .grid
  clearfix()

h1
  font-size 32px
  line-height 1.15em

header.home
  h1
    margin 1.25em 0 0
    line-height 0.9em

  h2
    margin 0
    line-height 1.5em

body > header h1.center
  margin 1em auto

#intro
  padding-top 2em

#content .grid
  padding-bottom 2em

article.post h1
  margin-bottom 0

#profile
  height 75px
  width 75px
  border-radius 50%
  float right
  margin 1.5em 0

#metadata, header.home h2
  display block
  font-size 13px
  margin-bottom 3em

#metadata iframe
  float right

h2, #writing h1, #work h1
  font-size 25px
  line-height 2em
  margin 0.75em 0 0

h3
  font-size 20px

#writing article.summary
  margin-bottom 1em

  h1
    font-size 20px

p
  font-size 16px
  line-height 1.5em
  margin 0 

p + p
  text-indent 1.4em

figure, iframe
  margin 1.5em 0
  overflow-x scroll

figure
  text-align center

  figcaption
    font-style italic
    margin 0.5em 0

  &>pre, noscript pre
    text-align left
    overflow auto
    background-color #f8f8ff
    border 1px solid #ddd
    font-size 0.85em
    padding 1em

  img
    box-shadow 2px 2px 5px #aaa, 0 0 5px #ddd

code
  color #777
  font-family Consolas, 'Liberation Mono', Courier, monospace

.gist
  text-align left

  .gist-file .gist-data .data
    font-size 0.65em

dl, menu, ol, ul
  padding-left 0

body > footer
  padding 3em 0 5em
  text-align center

section.archive, section.series
  margin-top 1em

  ol
    list-style none
    padding 0

  ol.articles
    list-style disc

  time.publishDate
    font-size 1em
    display none

img
  max-width 400px

iframe.playlist
  display block
  margin 1em auto
  height 250px
  width 250px

@media screen and (min-width: 450px)
  section.archive, section.series
    ol time.publishDate
      display inline
      margin-right 0.5em

  #writing article.summary
    padding 0 1.4em


// Medium Scale 616-800px wide
// Room enough for variety, but not full grid
// Also adjusts baseline for Roomy
// 18 => 800, 640, 512, 410, 320, 262, 210, 168, 134, 107, 86, 70, 55, 44, 35, 28, 22, 14, 12
MediumColumns = 8

@media screen and (min-width: 620px)
  .center
    width MediumColumns*(column-width + gutter-width) - 4*gutter-width px

  .grid
    column (MediumColumns - 1) // getting extra space for padding
    padding-left 2*gutter-width px
    padding-right 2*gutter-width px
    overflow visible

  h1, header.home h1
    font-size 70px
    margin-left -6px

  #profile
    height 150px
    width 150px
    margin 3.2em 0

  #writing h1, #work h1, h2, body > header h1
    font-size 35px

  #writing article.summary h1, header.home h2, h3
    font-size 22px

  #metadata
    font-size 14px

  body, p
    font-size 18px

  time.publishDate
    font-size 14px

  .gist .gist-file .gist-data .data
    font-size 0.85em


  section.archive, section.series
    ol
      row(6)

      &>li
        row(6,6)
        float left
        clear left

      .year
        column(1, 6)

      a
        display block

    ol.articles
      push(1)
      column(6)
      list-style none

    time.publishDate
      column(2)

  img
    max-width 560px

  iframe.playlist
    width 500px


// Roomy Scale (also 18)
RoomyColumns = 10

@media screen and (min-width: 800px)
  .center
    width RoomyColumns*(column-width + gutter-width) px

  .grid
    column (8)
    pushpadding (1)

  .wf-inactive
    p, time, li, div, li span
      font-size 17px

  section.archive, section.series
    ol
      row(8)

      &>li
        row(8,8)

      .year
        column(1, 8)

      ol.articles
        push(1)
        column(7)

  img
    max-width 740px

// Expansive Scale
// ExpansiveColumns = 12

// @media screen and (min-width: 1100px)
//   .csscolumns 
//     .center
//       width ExpansiveColumns*(column-width + gutter-width) px

//     h1.center a, #content, footer
//       column (12)

//     .content
//       -webkit-column-count 2
//       -webkit-column-gap gutter-width
//       -moz-column-count 2
//       -moz-column-gap gutter-width
//       column-count 2
//       column-gap gutter-width

// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//        only screen and (min-resolution: 144dpi) {
//     /* Style adjustments for high resolution devices */
// }



/*
 
  Styles

*/

h1, h2, h3, .article a
  color rgb(85, 85, 85)
  -moz-font-feature-settings 'liga=1'
  -ms-font-feature-settings 'liga' 1
  -webkit-font-feature-settings 'liga' 1
  -o-font-feature-settings 'liga' 1
  font-feature-settings 'liga' 1
  text-rendering optimizeLegibility

  a, a:link, a:hover, a:active
    text-rendering auto

p, time, li, div, li span
  font-style normal
  font-weight 300
  color rgb(70, 70, 70)
  -moz-font-feature-settings 'liga=1'
  -ms-font-feature-settings 'liga' 1
  -webkit-font-feature-settings 'liga' 1
  -o-font-feature-settings 'liga' 1
  font-feature-settings 'liga' 1

#author, time.publishDate
  font-style italic

a:link, a:visited
  color rgb(30, 30, 225)
  -webkit-transition color 0.25s ease-in-out
  transition color 0.25s ease-in-out

a:link code, a:visited code
  color rgb(80, 80, 255)
  -webkit-transition color 0.25s ease-in-out
  transition color 0.25s ease-in-out

a[href]:hover, a[href]:hover code
  color rgb(200, 30, 30)

a[href]:active, a[href]:active code
  color rgb(200, 100, 100)

ol, ul
  list-style-position outside

li, blockquote:before, .flueron
  color rgb(120, 120, 120)

header.home h2
  color rgb(110, 110, 110)

abbr[title]
  border none
  text-decoration underline
  font-style normal

body
  background-color rgb(175, 175, 175)

#content
  background-color rgb(245, 245, 245)

body > header
  background-color rgb(235, 235, 235)

#content
  box-shadow: 0 5px 15px #CCC inset

.flueron
  font-size 1.5em
  text-align center
  margin-top 1em

body > footer 
  box-shadow: 0 5px 15px #999 inset

  a, a:link, a:visited
    color rgb(60, 60, 230)
    -webkit-transition color 0.25s ease-in-out
    transition color 0.25s ease-in-out

  a:hover
    color rgb(200, 30, 30)

  a:active
    color rgb(200, 100, 100)

blockquote p, blockquote:before
  font-style italic

blockquote
  margin 1.5em 0

blockquote:before
  content "\201C"
  position absolute
  font-size 2.5em
  line-height 0.5em
  margin-left -0.85em