
extends layout


block prepend title
  !{page.title} - 

block content
  article.post
    header
      h1= page.title
      #metadata
        a#author(href="http://kevingorski.com") Kevin Gorski
        |  &middot; 
        time.publishDate(datetime=moment(page.date).format('YYYY-MM-DD'))= moment(page.date).format('MMMM Do, YYYY')

    section.content!= page.html

block footer
  a.back(href='/') Home
  |  &middot; 
  a(href='/archive.html') Archive
