extends layout

block header
  header.home.clearfix
    .center
      .grid
        img(id="profile", src="profile.jpg", alt="Kevin Gorski")
        h1 Kevin Gorski
        h2 Software developer in Denver, CO

block content
  section#intro
    p
      | I build software all day &mdash; usually with the .NET stack, 
      a(href="http://nodejs.org/") Node.js
      |  or entirely within the browser with 
      abbr(title="HyperText Markup Language") HTML
      | , 
      abbr(title="Cascading Style Sheets") CSS
      |  &amp; JavaScript. You can get a gist of what that&rsquo;s like from my 
      a(href='/projects-&-portfolio.html') projects & portfolio
      |  or my 
      a(href="https://github.com/kevingorski") GitHub profile
      | .
    p 
      | Outside of software development, I&rsquo;ve been studying user interface design & typography while listening to a lot of 
      a(href="http://www.rdio.com/people/KevinGorski/") Rdio
      | . I&rsquo;m interested in entrepreneurship as a way to change the world and perhaps have more control over my life and career, 
      | but I haven&rsquo;t done much with that yet.
    p
      | Here I try to regularly write in public about software development and more. My latest entry:

  section#writing
    - var articles = _.chain(contents.articles._.directories).map(function(item) {
    -       return item.index
    -     }).compact().sortBy(function(item) { 
    -       return -item.date
    -     }).first(1).value()
    each article in articles
      article.summary
        h1
          a(href=article.url)!= article.title
        section.content
          time.publishDate(datetime=moment(article.date).format('YYYY-MM-DD'))= moment(article.date).format('MMMM Do, YYYY')
          !{article.intro}
        p 
          | &hellip;
          br
          a(href=article.url) Continue &rArr;
    p
      | Earlier articles are in   
      a(href='/archive.html') the Archives
      | . You can also 
      a(href='/feed.xml') subscribe to new articles
      | .


block footer
  p 
    | Looking for more? Follow up:
  div
    a(href="mailto:kevin.gorski@gmail.com") Email
    |  &middot; 
    a(href="https://github.com/kevingorski", rel="me") GitHub
    |  &middot; 
    a(href="http://linkedin.com/in/kevingorski", rel="me") LinkedIn