extends layout

block header
  header.home.clearfix
    .center
      .grid
        img(id="profile", src="profile.jpg", alt="Kevin Gorski")
        h1 Kevin Gorski
        h2 Denver, CO software developer

block content
  section#intro
    p
      | I build software all day &mdash; usually with the .NET stack, 
      a(href="http://nodejs.org/") Node.js
      |  or entirely within the browser with 
      abbr(title="HyperText Markup Language") HTML
      | , 
      abbr(title="Cascading Style Sheets") CSS
      |  &amp; JavaScript. You can get a gist of what that&rsquo;s like from my 
      a(href='/projects-&-portfolio.html') projects & portfolio
      |  or my 
      a(href="https://github.com/kevingorski") GitHub profile
      | .
    p 
      | Outside of software development, I&rsquo;ve been studying user interface design & typography while listening to a lot of 
      a(href="http://www.rdio.com/people/KevinGorski/") Rdio
      | . I&rsquo;m interested in entrepreneurship as a way to change the world and perhaps have more control over my life and career, 
      | but I haven&rsquo;t done much with that yet.
    p
      | Here I try to regularly write in public. Sometimes the subject will be development related, sometimes not. 
      | If the publish date on this is more than two weeks old, please 
      a(href='mailto:kevin.gorski@gmail.com') scold me for it
      | :

  section#writing
    - var articles = _.chain(contents.articles._.directories).map(function(item) {
    -       return item.index
    -     }).compact().sortBy(function(item) { 
    -       return -item.date
    -     }).first(1).value()
    each article in articles
      article.summary
        h1
          a(href=article.url)!= article.title
        section.content
          time.publishDate(datetime=moment(article.date).format('YYYY-MM-DD'))= moment(article.date).format('MMMM Do, YYYY')
          !{article.intro}
        p 
          | &hellip;
          br
          a(href=article.url) Continue &rArr;
    p
      | Earlier articles are in   
      a(href='/archive.html') the Archives
      | . You can even 
      a(href='/feed.xml') subscribe to new articles
      | .


  section#mentor
    h1 Looking for a Mentor
    p I'm pretty technically adept and I think I could make a living for the  rest of my life with my current skill level and engagement with my day job, but I'm interested in doing more. I don't know with a certainty what that next step is, but I've considered building a business around software that I and a small team make or at least working in a sector (?) where I might have more impact on people's lives or society at large. 
    p 
      | These are big questions and I know that ultimately I'll have to answer them for myself, but having someone to discuss them with specifically would do me a lot of good. Is this you? Send me an email and we'll talk: 
      a(href="mailto:kevin.gorski@gmail.com") kevin.gorski@gmail.com



block footer
  p 
    | Still looking for more? Follow up:
  div
    a(href="mailto:kevin.gorski@gmail.com") Email
    |  &middot; 
    a(href="https://github.com/kevingorski", rel="me") GitHub
    |  &middot; 
    a(href="http://linkedin.com/in/kevingorski", rel="me") LinkedIn