extends layout

block header
  #Profile img
  h1 Kevin Gorski
  h2 Between the Lines
  ul
    li Twitter
    li Email
    li StackOverflow
    li GitHub
    li Code Shelver
    li Rdio
    li Last.fm
    li Forkly
    li Coder Wall
    li LinkedIn
    li Svpply
    li Pinboard
    li Instapaper

block content
  include author

  section
    h1 What I&rsquo;ve Made

     ul
      li
        .ProjectImage
        h2 Can You Read It Now?
        p The pitch, maybe some tech details.
      li
        .ProjectImage
        h2 Periodic Growth
        p Can learning related but separate disciplines be done in a better way?
      li
        .ProjectImage
        h2 Concert Posters: Yellow Ostrich
        p I made these because I&rsquo;m infatuated with the music and I saw them live...

  //- underscore helps us filter and sort our articles
  - var articles = _.chain(contents.articles._.directories).map(function(item) {
  -   // map articles to index pages of subdirectories of 'articles'
  -   return item.index
  - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
  -   // sort them by date
  -   return -item.date
  - }).first(5).value() // and finally take the first 5
  each article in articles
    article.post
      header
        h2
          a(href=article.url)= article.title
        p
          mixin author(article.metadata.author)
      section.content!= article.intro
      if article.hasMore
        p.read-more
          a(href=article.url) read more
  a(href='archive.html')#archive Visit the archives!
