extends layout

block header
  h1 Kevin Gorski
  h2 Creative software developer in Denver, CO

block content
  include author

  section#intro
    p
      | I build software all day &mdash; usually with the .NET stack, Node.js or entirely within the browser (
      abbr HTML
      | , 
      abbr CSS
      | , &amp; JavaScript). 
    p 
      | Outside of my day job, I learn about software, design, art, &amp; more. 

  - var articles = _.chain(contents.articles._.directories).map(function(item) {
  -       return item.index
  -     }).compact().sortBy(function(item) { 
  -       return -item.date
  -     }).first(1).value()
  each article in articles
    article.post
      header
        h2
          a(href=article.url)= article.title
        p
          mixin author(article.metadata.author)
      section.content!= article.intro
      if article.hasMore
        p.read-more
          a(href=article.url)
            | Continue reading 
            em= article.title
  a(href='archive.html')#archive More to read
