extends layout

block header

block content
  header.home
    img(id="profile", src="profile.jpg", alt="Kevin Gorski", width=150, height=150)
    h1 Kevin Gorski
    h2 Software developer in Denver, CO

  section
    p
      | I build software all day &mdash; usually with the .NET stack, 
      a(href="http://nodejs.org/") Node.js
      |  or entirely within the browser (with 
      abbr(title="HyperText Markup Language") HTML
      | , 
      abbr(title="Cascading Style Sheets") CSS
      |  &amp; JavaScript).
    p Outside of my day job, I learn about software, design, art &amp; more. 
    p Opinionated, insightful, tenacious. Entrepreneurial, in theory. Reasoned honesty and cooperation, innovative solutions in tough situations, articulate.


  section#writing
    h1 Writing
    p Thoughts &amp; ideas at once in motion and static. Here&rsquo;s a preview of my latest article:

    - var articles = _.chain(contents.articles._.directories).map(function(item) {
    -       return item.index
    -     }).compact().sortBy(function(item) { 
    -       return -item.date
    -     }).first(1).value()
    each article in articles
      article.summary
        h1
          a(href=article.url)!= article.title
        section.content
          time.publishDate(datetime=moment(article.date).format('YYYY-MM-DD'))= moment(article.date).format('MMMM Do, YYYY')
          !{article.intro}

    a(href='/archive.html') More writing &rArr;

  section#work
    h1 Projects &amp; Portfolio
    p I&rsquo;ve built a lot of software for others and sometimes myself. This is the highlight reel.

block footer
  p 
    | Still looking for more? Follow up:
    br
    a(href="mailto:kevin.gorski@gmail.com") Email
    |  &middot; 
    a(href="https://github.com/kevingorski", rel="me") GitHub
    |  &middot; 
    a(href="http://linkedin.com/in/kevingorski", rel="me") LinkedIn