nav
  ul
    li.home
      a.back(href='/') Home
    - if (!locals.exclude || locals.exclude.indexOf('archive') === -1)
      li
        span.home  &middot; 
        a(href='/archive.html') Writing
    - if (!locals.exclude || locals.exclude.indexOf('portfolio') === -1)
      li
        |  &middot; 
        a(href='/projects-&-portfolio.html') Projects&nbsp;&amp;&nbsp;Portfolio
    li.rss
      |  &middot; 
      a(href='/feed.xml') RSS