doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9", xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance", xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd")
  url
    loc http://kevingorski.com/
    priority 1.00
  url
    loc http://kevingorski.com/archive.html
    priority 0.5
  url
    loc http://kevingorski.com/projects-&amp;-portfolio.html
    priority 0.90
  for article in articles
    url
      loc="http://kevingorski.com" + article.url
      priority 0.80