.post h1 
  vertical-align top

  .char2
    margin-left -2px

  .char9
    margin-left -2px

  .char18
    margin-left -5px

  .char19
    margin-left -5px

  .char31
    margin-left -2px

  .char28
    margin-left -1px